.button {
  border-width: 3px;
}
.A {
  background-color: #04c4eb;
  border-color: #22d2f5;
}
.A:hover,
.A:active,
.A:focus {
  background-color: #0dcaf0;
  border-color: #52e2ff;
}
.B {
  background-color: #62a5f9;
  border-color: #7ab2f9;
}
.B:hover,
.B:active,
.B:focus {
  background-color: #72b1ff;
  border-color: #97c5ff;
}
.C {
  background-color: #dd7df5;
  border-color: #e291f7;
}
.C:hover,
.C:active,
.C:focus {
  background-color: #df80f7;
  border-color: #eaa1fd;
}
.large {
  width: 95px;
  height: 95px;
}
