.card {
  background-color: #279fe2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 25px 50px;
  margin-bottom: 20px;
}

.exercises-logger {
  top: -70px;
  margin-bottom: -50px;
  position: relative;
}

.title {
  color: #fff;
  line-height: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  padding: 7px 10px;
}
