.graphsWrapper {
  width: 410px;
  height: 410px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  margin: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleFigcaption {
  position: absolute;
  left: 10px;
}

.chartSvg {
  width: 100%;
  height: 100%;
  position: relative;
}

.circleForeground {
  stroke-dashoffset: 0;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.circleForeground.A {
  stroke: #04c4eb;
}

.circleForeground.B {
  stroke: #62a5f9;
}

.circleForeground.C {
  stroke: #dd7df5;
}
