.modal {
  z-index: 100;
  position: fixed;
  top: 12vh;
  left: 10%;
  width: 70%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.modal__header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: #0d6efd;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal__footer {
  padding: 0;
}

.newExercise__modal-actions {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.8em;
}

@media (min-width: 768px) {
  .modal {
    left: calc(53% - 20rem);
    width: 40rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}

.modal__header.newExercise {
  display: flex;
  align-items: center;
}

.title {
  margin: 5px 25px;
  font-weight: 600;
  font-size: 1.3em;
}

.deleteExerciseModal {
  background: #279fe2;
}

.deleteExercise__modal-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.deleteExercise__modal-actions button {
  margin: 0 10px;
}
